# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
env/
venv/

# PyTorch checkpoints, generated datasets & outputs
checkpoints/
prerequisites/raw_ecg_data/
prerequisites/*.pt
prerequisites/*.pth
prerequisites/*.pkl
outputs/

# IDE & OS files
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db
